
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: rgb(232, 5, 5);
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

li {
    border: 2px solid rgb(232, 5, 5);
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #FFFFFF;
}

.item-price {
    font-weight: bold;
    color: rgb(232, 5, 5);
}